doctype html

meta(name='viewport' content='width=device-width,initial-scale=1.0')

#app
  input(v-model='user')
  p {{latitude}}
  p {{longitude}}
  button(v-on:click='favoriteSendData') favorite
  button(v-on:click='routeSendData') route
script(src="./app.js")
